/* 폰트 */
@font-face {
	font-family: 'LotteMartDream';
	font-style: normal;
	font-weight: 400;
	src:
		url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamMedium.woff2')
		format('woff2'),
		url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamMedium.woff')
		format('woff');
}

@font-face {
	font-family: 'LotteMartDream';
	font-style: normal;
	font-weight: 700;
	src:
		url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamBold.woff2')
		format('woff2'),
		url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamBold.woff')
		format('woff');
}

@font-face {
	font-family: 'LotteMartDream';
	font-style: normal;
	font-weight: 300;
	src:
		url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamLight.woff2')
		format('woff2'),
		url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamLight.woff')
		format('woff');
}

.lottemartdream * {
	font-family: 'LotteMartDream', sans-serif;
}

html>body {
	font-family: 'LotteMartDream', sans-serif;
	
}

/* 라이브러리 */

/* 커스텀 */
header>div>ul>li {
	margin-right: 30px;
}

/* .login-box>tbody>tr>td>input { */
/* 	padding-left: 10px; */
/* } */

/* .login-box>tbody>tr:nth-child(3)>td>input { */
/* 	padding-left: 0; */
/* } */

/* .join-box>tbody>tr:nth-child(7)>td>input { */
/* 	padding-left: 0; */
/* } */

/* .modify-box>tbody>tr:nth-child(5)>td>input, .modify-box>tbody>tr:nth-child(6)>td>input, */
/* 	.modify-box>tbody>tr:nth-child(7)>td>input { */
/* } */
.table-box-1 th, .table-box-1 td {
	border: 1px solid black;
	padding: 10px;
	text-align: center;
}

/*네비게이션 2차메뉴 */
header>div>ul>li>ul {
	display: none;
	position: absolute;
	background-color: white;
}

header>div>ul>li:hover>ul {
	display: block;
}

html {
	display: flex;
	flex-direction: column;
	flex: 1;
	width: 100%;
	height: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	height: 952px;
	bottom: 0;
	right: 0;
}

*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.background_img {
	max-width: 100%; /* 부모 요소의 너비에 맞게 이미지 크기 조절 */
	height: auto;
	/* 가로 세로 비율 유지 */
	position: absolute;
	opacity: 1;
}

/* login jsp css*/

/* 메인 로고 이미지 css*/
.main-logo-img {
	width: 300px;
	height: 300px;
	position: absolute;
	left: -0.5px;
	top: 160px;
	object-fit: cover;
	opacity: 0.9;
}

/* 로고 문자 Dream diary에 밑줄 위치 css*/
.main-logo-writing-underline1 {
	width: 400px;
	height: 5px;
	fill: none;
	position: absolute;
	left: 405.5px;
	top: 333.5px;
}

.main-logo-writing-underline2 {
	width: 468px;
	height: 6px;
	fill: none;
	position: absolute;
	left: 407.5px;
	top: 422.5px;
	position: absolute
}
/* 로그인 외곽 프레임 위치 css */
.login-border-frame-location {
	flex-grow: 0;
	flex-shrink: 0;
	width: 978px;
	height: 401px;
}
/* 로그인 외곽 프레임 */
.login-main-frame {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	position: absolute;
	left: 33px;
	top: 169px;
	gap: 125px;
}
/* 로고 문자 위치 css*/
.main-logo-writing1 {
	width: 473px;
	position: absolute;
	left: 405px;
	top: 238.5px;
	font-size: 70px;
	text-align: left;
	color: #fff;
}

.main-logo-writing2 {
	position: absolute;
	left: 405px;
	top: 346.5px;
	font-size: 48px;
	text-align: left;
	color: #fff;
}
/* 로그인창 틀 위치 */
.login-border-frame {
	flex-grow: 0;
	flex-shrink: 0;
	width: 550px;
	height: 700px;
	border-radius: 20px;
	border-width: 30px;
	border-color: rgba(255, 255, 255, 0.3);
}

/* 로그인 창 배경 */
.login-background {
	position: absolute;
	left: 1178px;
	top: 55px;
	width: 400px;
	height: 600px;
	border-radius: 20px;
	background-color: #8E7AB5;
	align-items: center;
	text-align: center;
	opacity: 0.9;
}

/* 로그인 폼 */
.login_form_frame {
	position: relative;
	z-index: 1;
	background: #FFFFFF;
	max-width: 400px;
	height: 600px;
	padding: 45px;
	text-align: center;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0
		rgba(0, 0, 0, 0.24);
	opacity: 0.8; /* 이미지의 투명도를 50%로 설정 */
	background-color: #81689D;
	border-radius: 30px;
}

.login_form_frame input {
	font-family: "Roboto", sans-serif;
	outline: 0;
	background: #f2f2f2;
	width: 100%;
	border: 0;
	margin: 0 0 15px;
	padding: 15px;
	box-sizing: border-box;
	font-size: 14px;
	border: solid 1px black;
}

.login_form_frame .login_btn, .login_form_frame .join_btn {
	font-family: "Roboto", sans-serif;
	text-transform: uppercase;
	outline: 0;
	background: #4CAF50;
	width: 100%;
	border: 0;
	padding: 15px;
	color: #FFFFFF;
	font-size: 14px;
	-webkit-transition: all 0.3 ease;
	transition: all 0.3 ease;
	cursor: pointer;
}

.login_form_frame button:hover, .login_form_frame button:active,
	.login_form_frame button:focus {
	background: #43A047;
}

.login_form_frame .message {
	margin: 15px 0 0;
	color: #b3b3b3;
	font-size: 12px;
}

.login_form_frame .message a {
	color: #4CAF50;
	text-decoration: none;
}

.login_form_frame .register-form {
	display: none;
}

.easy_login {
	margin-top: 20px;
}

.easy_login_item {
	align-content: center;
	justify-content: center;
	margin-top: 10px;
	padding-top: 8px;
	background-color: #43A047;
	border-radius: 30px;
	font-size: 16px;
	height: 40px;
}
/* list jsp css */
.list-background-img {
	
}

.flex-box {
	display: flex;
}
/* 검색창 css */
.search_box {
	width: 1000px;
	height: 60px;
	border-radius: 30px;
	background: #fff;
	border-width: 2px;
	border-color: #5f3976;
	font-size: 24px;
}

/* 검색창 배경 */
.search_box_form_background {
	display: flex;
	justify-content: center; /* 요소를 수평으로 가운데 정렬합니다. */
	align-items: center;
	margin-top: 20px;
}

/* 시계 */
#timedate {
	font: small-caps lighter 43px/150% "Segoe UI", Frutiger,
		"Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial,
		sans-serif;
	text-align: left;
	width: 50%;
	color: #333;
	border-left: 3px solid #333;
	padding: 20px;
}
/* 검색창 틀 */
.search_box_form {
	margin-bottom: 50px;
	margin-right: 400px;
}

.search_btn {
	width: 60px;
	height: 30px;
	border: solid 1px black;
	border-radius: 10px;
}

/* 게시판 페이지 로고*/
.board-item a:hover {
	text-decoration: underline;
}

.board-item {
	margin-top: 10px;
	margin-left: 10px;
	font-size: 20px;
}

.board-list-text {
	font-size: 32px;
	background-color: #7469B6;
}

.board-list-container {
	display: flex;
	justify-content: center; /* 가로 중앙 정렬 */
	align-items: center; /* 세로 중앙 정렬 */
	flex-direction: column; /* 수직 배치 */
}

.board-item-background {
	background-color: #9290C3;
	opacity: 0.8;
	padding-top: 1px;
	padding-bottom: 10px;
}

.container {
	display: flex;
	grid-template-columns: 80% 21%;
	grid-template-rows: 100%;
	width: 100%;
	margin-left: 150px;
}

.left, .center, .right {
	overflow-y: auto;
	padding: 10px;
}

.left {
	flex: 0.5;
}

.center {
	flex: 3;
	border-radius: 5px;
}
/* 로그인 틀 */
.right {
	flex: 1;
	border: solid 1px black;
	border-radius: 10px;
	margin-bottom: 400px;
	padding-bottom: 70px;
}

#login-btn {
	margin-top: 10px;
	margin-left: 10px;
	text-align: center;
	background-color: blue;
	width: 300px;
	height: 60px;
	background-color: #ccccee;
	border-radius: 3px;
	padding: 20px;
}

.write-btn {
	margin-left: 850px;
	padding: 10px 40px;
	margin-bottom: 20px;
	background-color: #6a4c93;
	border-radius: 10px;
}

.article_write {
	width: 100%;
	border-collapse: collapse;
	margin-top: 20px;
}

article_write th, td {
	border: 1px solid #ccc;
	padding: 8px;
	text-align: left;
}

th {
	background-color: #f0f0f0;
}

/* head jsp css*/

/* 상단 바 배경 */
.navbar {
	
	overflow: hidden;
	background-color: #7469B6;
	opacity: 1;
	height: 70px;
	z-index:7;
}
/* 로고와 로고명 css*/
.navbar a {
	float: left;
	display: block;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 20px;
	text-decoration: none;
}

.navbar a:hover {
	background-color: #ddd;
	color: black;
}

.navbar img {
	display: inline-block;
	width: 40px; /* 이미지의 너비 설정 */
	height: auto; /* 높이 자동 조정 */
}

/* main jsp css */

.flex-container {
	position: absolute;
	height: 100vh;
	width: 100%;
	display: flex;
	overflow: hidden;
	@media
	screen
	and
	(max-width:
	768px)
{
	flex-direction
	:
	 
	column
	;
	
	
}

}
.flex-title {
	color: #f1f1f1;
	position: relative;
	font-size: 40px;
	margin: auto;
	text-align: center;
	transform: rotate(90deg);
	top: 15%;
	-webkit-transition: all 500ms ease; /* 웹킷 브라우저를 위한 전환 효과 설정 */
	-moz-transition: all 500ms ease; /* 모질라 브라우저를 위한 전환 효과 설정 */
	-ms-transition: all 500ms ease; /* IE 브라우저를 위한 전환 효과 설정 */
	-o-transition: all 500ms ease; /* 오페라 브라우저를 위한 전환 효과 설정 */
	transition: all 500ms ease; /* 전환 효과 설정 */
}

.flex-about {
	opacity: 0;
	color: #f1f1f1;
	position: relative;
	width: 70%;
	font-size: 36px;
	padding: 5%;
	top: 20%;
	border: 2px solid #f1f1f1;
	border-radius: 10px;
	line-height: 1.3;
	margin: auto;
	text-align: left;
	transform: rotate(0deg);
	@media
	screen
	and
	(max-width:
	768px)
{
padding:0%;
border:solid 0px #f1f1f1;
	
	
}

}
.flex-about-text>li {
	font-size: 28px;
}

.flex-slide {
	-webkit-flex: 1; /* Safari 6.1+ */
	-ms-flex: 1; /* IE 10 */
	flex: 1;
	cursor: pointer;
	transform: rotate(0deg);
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
	@media
	screen
	and
	(max-width:
	768px)
{overflow:auto;
overflow-x:hidden;
}

}

/* 마우스가 메뉴에 호버될 때 1.5*/
.flex-slide:hover {
	-webkit-flex-grow: 1.5;
	flex-grow: 1.5;
}
/* 마우스가 .flex-slide에 올려질 때 flex-title 요소만 90도 회전 */
.flex-slide:hover .flex-title {
	transform: rotate(0deg);
}

.flex-slide:hover .flex-about {
	opacity: 1;
}
/* 메인 화면의 메뉴 박스 */
.home {
	height: 100vh;
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
		url(https://e1.pxfuel.com/desktop-wallpaper/746/975/desktop-wallpaper-notepad-of-notepad-backgrounds-notepad-q-notepad.jpg);
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
}

.about {
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
		url(https://i.pinimg.com/736x/58/50/77/585077f55fdc2392380b44b7995a3334.jpg);
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
}

.contact {
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
		url(https://img.freepik.com/premium-photo/modern-night-bookshelf-book-desktop-close-up-pictures_931559-1015.jpg);
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
}

.work {
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
		url(https://i.pinimg.com/originals/c8/aa/38/c8aa38bcdcc062cfde36bd881f6ccfed.png);
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
}

.img_text {
	text-align: center; /* 텍스트를 가운데 정렬 */
	text-decoration: none; /* 링크의 기본 밑줄 제거 */
	color: white; /* 텍스트 색상 지정 */
	display: block; /* 텍스트를 블록 요소로 변경하여 이미지 아래에 위치시킴 */
}

.menu-bar li {
	border-radius: 10px;
}

.img_text {
	text-align: center; /* 텍스트를 가운데 정렬 */
	text-decoration: none; /* 링크의 기본 밑줄 제거 */
	color: black; /* 텍스트 색상 지정 */
	display: block; /* 텍스트를 블록 요소로 변경하여 이미지 아래에 위치시킴 */
}

.main_img li {
	display: inline-block;
	justify-content: space-around;
}

.main_img img {
	display: block; /* 이미지를 블록 요소로 변경하여 가로 정렬을 쉽게 함 */
	margin-bottom: 5px; /* 이미지 아래 여백 추가 */
	width: 250px;
	height: 250px;
	border-radius: 30px;
	margin-bottom: 5px;
}

/* write jsp css */

/* 글쓰기 배경 css */
.write-background{
	display:flex;
	background-color: #1C1334;
	width:100%;
	height: 100%;
	padding-top: 50px;
	
}
/* 글쓰기 화면 분할 */
.write-background-left{
	flex:1;

	width:50%;
	height:90%;
	margin-left: 50px;
}
.write-background-right{
	flex:1;

	width:50%;
	height:90%;
	margin-right: 50px;
}

/* 날짜 상단 박스 */
.write-date-container{
	display:flex;
	height:110px;
}
/* 날짜 박스*/
.write-date-box{
	background-color: #4C4462;
	width:300px;
	height:80px;
	border-radius:10px;
	margin-left: auto;
	margin-right: 20px;
}
/* 날짜 */
.write-date{
	text-align:center;
	font-size:28px;
	height:50%;
	color: white;
}

/* 요일 */
.write-day{
	text-align:center;
	font-size:28px;
	height:50%;
	color: white;
}

/* 취침,기상 시간 박스 */
.sleep-box{
	display:flex;
	background-color: #4C4462;
	width:500px;
	height:80px;
	margin-right: auto;
	margin-left: 20px;
	border-radius:10px;
}
.sleep-time{
	flex:1;
	margin-left: 10px;
	width:250px;
	height:80px;
	text-align:center;
	padding: 5px;
	font-size:24px;
	border-right: solid 1px black;
}
.wake-up-time{
	flex:1;
	margin-right: 10px;
	width:250px;
	height:80px;
	text-align:center;
	padding: 5px;
	font-size:24px;
	border-left: solid 1px black;
}
#sleepTime, #wakeUpTime{
	border-radius:5px;
	font-size:20px;
}
.sleep-text{
	color:white;
}

/* 제목, 내용 박스 */
.title-body-container{
	margin: 0 30px;
	height: 65%;
	 flex-direction: column;
}

.write-form{
	width:100%;
	height:100%;
}
.title-box{
	border: solid 1px gray;
	height: 15%;
	width:100%;
	font-size:40px;
}
.body-box{
	border: solid 1px gray;
	height: 85%;
	width:100%;
	font-size:40px;
	
}
.title-input{
    width: 100%; /* 너비에서 내부 패딩과 테두리의 너비를 제외 */
    height: 100%; /* 높이에서 내부 패딩과 테두리의 높이를 제외 */
    box-sizing: border-box; /* 내부 패딩과 테두리를 요소의 크기에 포함시킴 */
    padding: 5px; /* 내부 패딩 추가 */
    font-size: 40px; /* 글꼴 크기 조정 */
    border: none; /* 테두리 제거 */
    outline: none; /* 포커스 효과 제거 */
    background-color: transparent; /* 배경색 투명 */
    color:white;
}

.body-input{
	width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 5px;
    font-size: 40px;
    border: none;
    outline: none;
    background-color: transparent;
    resize: none;
    color:white;
}

.register{
	position:absolute;
	margin-top: 10px;
	margin-left: 750px;
	width:100px;
}
/* 뒤로가기 버튼 */
.write-back-btn{
	position:absolute;
	margin-top: 628px;
	margin-left: 80px;
	


}
/* painting jsp css */
.painting-btn-container{
	margin-top:5px;
}
#drawing-board,#canvas {
	border: 1px solid black;
}

#drawBtn, #eraseBtn, #saveBtn, #clearBtn{
	border-radius: 5px;
	border: 1px solid black;
	padding: 0 10px;
}
#eraseButton, #drawButton{
	width:50px;
	
}

/* psychological test jsp css */
.psychological-test-background {
	width: auto;
	height: 834px;
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
		url(https://blog.kakaocdn.net/dn/WlqoE/btqu6zeWoNa/3AimU1hyjMZJYFymei0md0/img.jpg);
	background-size: cover; /* 이미지를 화면에 꽉 채우도록 설정 */
	background-repeat: no-repeat; /* 이미지 반복 설정 해제 */
	text-align: center;
}

.psychological-test-container {
	width: 600px;
	height: 350px;
	margin: auto;
	padding: 0 25px 40px 10px;
	background-color: #9195F6;
	border: 4px solid #B0E0E6;
	border-radius: 5px;
	color: #FFFFFF;
	font-weight: bold;
	box-shadow: 5px 5px 5px #888;
}

.psychological-test-title {
	font-size: 32px;
	text-align: center;
}

#result {
	border-top: solid 2px black;
	border-bottom: solid 2px black;
	color: white;
	font-size: 18px;
}

#result-box {
	position: absolute;
	width: 600px;
	height: auto;
	margin-top: 70px;
	margin-right: 1000px;
	background-color: #333;
	border-radius: 10px;
	padding: 10px;
	text-align: left;
}

/* 다음문제 버튼 */
#backButton, #nextButton, #finishButton {
	margin: 10px;
	padding: 8px;
	border-radius: 10px;
	background-color: #5356FF;
	border: solid 2px #4d1281;
	transition: background-color 0.3s ease;
}

#backButton:hover, #nextButton:hover, #finishButton:hover {
	background-color: lightgray;
}

#main-btn-link {
	display: none;
}
/* 심리테스트 창 안의 메인 가는 버튼 */
.main-btn {
	width: 130px;
	height: 55px;
	display: block;
	background-color: #8320dd;
	border: solid 3px #4d1281;
	border-radius: 30px;
	text-align: center;
	padding-top: 13px;
	float: right;
	margin-bottom: 100px;
}

/* 심리테스트 문제 틀 */
.question {
	display: none;
	margin: auto;
	background-color: #333;
	text-align: center;
	border-radius: 10px;
}
/* 심리테스트 문제 배경 */
.options {
	display: inline-block;
	width: 500px;
	height: auto;
	background-color: rgb(94, 70, 185);
	margin: auto;
}

/* 심리테스트 문제 */
.options p {
	font-size: 20px;
}

.options label, .options p {
	display: block;
	margin-bottom: 10px;
	text-align: left;
}

.options input[type="radio"] {
	margin-right: 10px;
}

.options input[type="input"] {
	margin-left: 10px;
}

.hidden {
	display: none;
}

/* calendar jsp css */

/* 캘린더 화면 전환*/

.animated {
    transition: opacity 0.3s ease-in-out;
    opacity: 0;
}

.fadeInRight {
    opacity: 1;
}

.fadeInLeft {
    opacity: 1;
}

.calendar-wrapper {

	width: 100%; /* 필요에 따라 조정 */
	height: 100%; /* 필요에 따라 조정 */
}

.calendar-cells .col {
    /* 예시 너비와 높이 */
    
   
width: calc(100% / 7); /* 필요에 따라 조정 */
    
   
height: 50px; /* 필요에 따라 조정 */
    
   
/* 추가적인 스타일링 */
    border: 1px solid #ccc; /* 예시 테두리 */
}
.calendar-header {
	background-color: rgba(18, 15, 25, 0.25);
	height: 100%;
	padding: 20px;
	color: #fff;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	position: relative;
}

.header-title {
	padding-left: 15%;
}

.header-background {
	background-image:
		url("https://raw.githubusercontent.com/JustMonk/codepen-resource-project/master/img/compressed-header.jpg");
	height: 200px;
	background-position: center right;
	background-size: cover;
}

.calendar-content {
	background-color: #fff;
	padding: 20px;
	padding-left: 15%;
	padding-right: 15%;
	overflow: hidden;
}

.event-mark {
	width: 5px;
	height: 5px;
	background-color: teal;
	border-radius: 100px;
	position: absolute;
	left: 46%;
	top: 70%;
}

.calendar-footer {
	height: 200px;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	text-align: center;
	background-color: #4b6289 !important;
	position: relative;
	overflow: hidden;
}

.addForm {
	position: absolute;
	top: 100%;
	width: 100%;
	height: 100%;
	background-color: #4b5889 !important;
	transition: top 0.5s cubic-bezier(1, 0, 0, 1);
	padding: 0 5px 0 5px;
}

.addForm input {
	color: #fff;
}

.addForm .row {
	padding-left: 0.75rem;
	padding-right: 0.75rem;
	margin-bottom: 0;
}

.addForm h4 {
	color: #fff;
	margin-bottom: 1rem;
}

.addEventButtons {
	text-align: right;
	padding: 0 0.75rem 0 0.75rem;
}

.addEventButtons a {
	color: black;
	font-weight: 300;
}

.emptyForm {
	padding: 20px;
	padding-left: 15%;
	padding-right: 15%;
}

.emptyForm h4 {
	color: #fff;
	margin-bottom: 2rem;
}

/* calendar jsp css */
/* 캘린더 화면 사이드바 */

.main-wrapper{
	display:flex;
}
.sidebar-wrapper {
	position:fixed;
    flex-direction: column; /* Optional: if you want items stacked vertically */
    width: 300px; /* Adjust the width as needed */
    height:1000px;
    color: #333;
    background-color: #5a649c !important;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    padding-left: 0;
    padding-right: 0;
}

.sidebar-title {
	padding: 50px 6% 50px 12%;
}

.sidebar-title h4 {
	margin-top: 0;
}

.sidebar-events {
	overflow-x: hidden;
	overflow-y: hidden;
	margin-bottom: 70px;
}

.empty-message {
	font-size: 1.2rem;
	padding: 15px 6% 15px 12%;
}

.eventCard {
	background-color: #fff;
	color: black;
	padding: 12px 24px 12px 24px;
	border-bottom: 1px solid #E5E5E5;
	white-space: nowrap;
	position: relative;
	animation: slideInDown 0.5s;
}

.eventCard-header {
	font-weight: bold;
}

.eventCard-description {
	color: grey;
}

.eventCard-mark-wrapper {
	position: absolute;
	right: 0;
	top: 0;
	height: 100%;
	width: 60px;
	background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%,
		rgba(255, 255, 255, 1) 25%, rgba(255, 255, 255, 1) 100%);
}
/* 사이드바에서 보이는 일정에 체크 표시 */
.eventCard-mark {
	width: 8px;
	height: 8px;
	background-color: #b39ddb;
	border-radius: 100px;
	position: absolute;
	left: 50%;
	top: 45%;
}

/* 일정 추가했을때 달력의 날짜에 표시 */
.day-mark {
	width: 7px;
	height: 7px;
	background-color: #b39ddb;
	border-radius: 100px;
	position: absolute;
	
}

.content-wrapper {
	flex-grow:1;
	margin-right: 40px;

}

#table-body .col:hover {
	cursor: pointer;
	/*border: 1px solid grey;*/
	background-color: #E0E0E0;
}

.empty-day:hover {
	cursor: default !important;
	background-color: #fff !important;
}

#table-body{
	text-align:left;
	
}
#table-body .row .col {
	padding: .75rem;
}

/* 월의 날짜들 테두리 */
#table-body .col {
	border: 1px solid transparent;
}

#table-body .row {
	margin-bottom: 0;
	
}

#table-body .col {
	padding-top: 1.3rem !important;
	padding-bottom: 40px !important;
}

#calendar-table {
	text-align: center;
}

.prev-button {
	position: absolute;
	cursor: pointer;
	left: 0%;
	top: 35%;
	color: grey !important;
}

.prev-button i {
	font-size: 4em;
}

.next-button {
	position: absolute;
	cursor: pointer;
	right: 0%;
	top: 35%;
	color: grey !important;
}

.next-button i {
	font-size: 4em;
}

/* 일정 추가 버튼 */
.addEvent {
	box-shadow: 0 5px 15px rgb(57, 168, 228);
	background-color: #39a8e4;
	padding: 10px;
	padding-left: 3em;
	padding-right: 3em;
	
	cursor: pointer;
	border-radius: 25px;
	color: #fff !important;
	background-image: linear-gradient(135deg, #8d8dd4, #45ced4);
}

.addEvent:hover {
	transition: box-shadow 0.5s;
	box-shadow: 0 4px 25px rgb(57, 168, 228);
}

.mobile-header {
	padding: 0;
	display: none;
	padding-top: 20px;
	padding-bottom: 20px;
	position: fixed;
	z-index: 99;
	width: 100%;
	background-color: #5a649c !important;
}

.mobile-header a i {
	color: #fff;
	font-size: 38px;
}

.mobile-header h4 {
	color: #fff;
}

.mobile-header .row {
	margin-bottom: 0;
}

.mobile-header h4 {
	margin: 0;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}

@media ( max-width :992px) {
	.content-wrapper {
		margin-left: 0;
	}
	.mobile-header {
		display: block;
	}
	.calendar-wrapper {
		margin-top: 80px;
	}
	.sidebar-wrapper {
		background-color: #EEEEEE !important;
	}
	.sidebar-title {
		background-color: #5A649C !important;
	}
	.empty-message {
		color: black;
	}
}

@media ( max-width :767px) {
	.content-wrapper .container {
		width: auto;
	}
	.calendar-content {
		padding-left: 5%;
		padding-right: 5%;
	}
	body .row {
		margin-bottom: 0;
	}
}

@media ( max-width :450px) {
	.content-wrapper {
		padding-left: 0;
		padding-right: 0;
	}
	.content-wrapper .container {
		padding-left: 0;
		padding-right: 0;
	}
}